<div class="hero-image">
    <div class="hero-text">
        <div class="term-paragraph">
            <div class="container">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                      <a href="#" class="h1">
                        <img src="../../../assets/img/CoE_Logo-01.png" alt="coe_logo" class="logo">
                      </a>
                      <p class="register_title"><b>Eku</b>Trade <b>Terms and Conditions</b></p>
                    </div> 
                    <div class="card-body">
                        <section class="card-paragraph">
                            <h4>1. Statement A</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae tempore ex, dolorum natus deleniti quia aut consequuntur nam 
                                voluptatum vel expedita error dolorem numquam eius ab aliquid enim cumque!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto nemo, nihil illum ipsa autem mollitia qui id quo, facilis doloremque 
                                aliquam minus fugit consectetur ipsam laudantium accusantium quis consequuntur suscipit.
                            </p>
                        </section>

                        <section class="card-paragraph">
                            <h4>2. Statement B</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae tempore ex, dolorum natus deleniti quia aut consequuntur nam 
                                voluptatum vel expedita error dolorem numquam eius ab aliquid enim cumque!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto nemo, nihil illum ipsa autem mollitia qui id quo, facilis doloremque 
                                aliquam minus fugit consectetur ipsam laudantium accusantium quis consequuntur suscipit.
                            </p>
                        </section>

                        <section class="card-paragraph">
                            <h4>3. Statement B</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae tempore ex, dolorum natus deleniti quia aut consequuntur nam 
                                voluptatum vel expedita error dolorem numquam eius ab aliquid enim cumque!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto nemo, nihil illum ipsa autem mollitia qui id quo, facilis doloremque 
                                aliquam minus fugit consectetur ipsam laudantium accusantium quis consequuntur suscipit.
                            </p>
                        </section>
                    </div>   
                </div>  
            </div>
        </div>
    </div>
</div>
