
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Product Type</h1>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
  
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="card" style="max-height: 600px; scroll-behavior:auto;">
                    <div class="card-header">
                        <h3 class="card-title">Select a Product</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <!-- <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Available Quantity</th>
                            <th>Select Quantity</th>
                            <th>Trader</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let product of products">
                        <tr>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td><div class="col-md-6"><input type="number" class="form-control" [(ngModel)]="product.selectQuantity" id="quantity" name="quantity" min="1" max="{{product.quantity}}"></div></td>
                            <td>{{product.emailAddress}}</td>
                            <td>
                                <div class="col-md-3"><button type="button" class="btn btn-primary" (click)="addToCart(product)">Add to cart</button></div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-4">
                <h4>Shopping Cart</h4>
                <div class = "panel-body table-responsive">
                  <table class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th>Description</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- <tr ng-repeat = "cart in carts" ng-init = "setTotals(cart)"> -->
                          <tr *ngFor="let cartItem of carts; let  i = index">
                              <td>{{cartItem.description}} </td>
                              <td>R {{cartItem.price}}</td>
                              <td>{{cartItem.quantity}}</td>
                              <td><button type = "button" (click)="removeFromCart(cartItem)" class = "btn btn-danger">X</button></td>
                          </tr>
                          <tr>
                              <td style="text-align: left;"><b>Total Amount</b></td>
                              <td colspan="3" style="text-align: center;"><b>R {{calculateTotal() | number:'1.2-2'}}</b></td>
                          </tr>
                          <tr> 
                            <td colspan="4">
                              <div style="align-items: center;"><button type="button" class="btn btn-warning"><i class="fas fa-cart-plus"></i> Checkout: R {{total.toFixed(2)}}</button></div>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
