<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../../assets/img/CoE_Logo-01.png" id="nav-logo" alt="Ekurhuleni Logo" style="width: 46px; height: 50px; float: left; line-height: .8; margin-left: .5rem; margin-right: .5rem; margin-top: -11px; max-height: 50px;">
      <b>Eku</b>Trade
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end;">
      <ul class="navbar-nav mb-2 justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/register']">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="hero-image">
    <div class="hero-text">
        <div class="term-paragraph">
            <div class="container">
                <div class="bg-text col-md-12 col-sm-12">
                    <h1 style="font-size: 100px; color: black;"><b>Eku</b>Trade</h1>
                    <!-- <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus commodi itaque quasi optio placeat 
                        voluptas? Enim vel natus ratione sequi, dolores, cupiditate voluptas \
                        ure delectus illo, quam voluptatum tenetur omnis!
                    </p> -->
                  </div>
            </div>
        </div>
    </div>
</div>
