<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1">
            <img src="../../../assets/img/CoE_Logo-01.png" alt="coe_logo" class="logo">
        </a>
        <p class="login_title">Please complete the fields below and click register to create your account.</p>
    </div>
    <div class="card-body">
        <p class="login-box-msg"><b>Eku</b>Trade Register</p>

        <form [formGroup]="registerForm" (ngSubmit)="registerByAuth()">
            <div class="input-group mb-3">
                <select class="form-control" name="role" placeholder="Select Type">
                  <option value="">-- Select User Type --</option>
                  <option value=2 >Customer</option>
                  <option value=3>Farmer</option>
                  <!-- <option value="Market Agent">Market Agent</option>
                  <option value="Market Admin">Market Admin</option> -->
                </select>  
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="firstName" placeholder="First Name">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-phone-alt"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="email" class="form-control" name="emailAddress" placeholder="Email" autocomplete="off">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <!-- <div class="input-group mb-3">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div> -->
              <div class="input-group mb-3">
                <input type="hidden" class="form-control" name="active" value=1 autocomplete="off">
              </div>
              <div class="input-group mb-3">
                <input type="hidden" class="form-control" name="lastLogin" value="21/03/2023" autocomplete="off">
              </div>
            <div class="row">
                <div class="col-7">
                    <div class="icheck-primary">
                        <input
                            type="checkbox"
                            id="agreeTerms"
                            name="terms"
                            value="agree"
                        />
                        <label for="agreeTerms">
                            I agree to the <a [routerLink]="['/terms']">terms & conditions</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-5">
                    <pf-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading"
                    >
                        Register
                    </pf-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- <div class="social-auth-links text-center">
            <pf-button
                class="mb-2"
                [block]="true"
                [loading]="isFacebookLoading"
                [disabled]="isAuthLoading || isGoogleLoading"
                (click)="registerByFacebook()"
            >
                <i class="fab fa-facebook mr-2"></i>
                Sign up using Facebook
            </pf-button>
            <pf-button
                [block]="true"
                [loading]="isGoogleLoading"
                [disabled]="isAuthLoading || isFacebookLoading"
                (click)="registerByGoogle()"
                theme="danger"
            >
                <i class="fab fa-google mr-2"></i>
                Sign up using Google+
            </pf-button>
        </div> -->

        <a [routerLink]="['/login']" class="text-center">
            I already have an account</a
        >
    </div>
</div>
